<html>
  <head>
    {% if title %}
    <title>{{ title }} - Hospital</title>
    {% else %}
    <title>Hospital</title>
    {% endif %}
  </head>
  <body>
    <div>
      Hospital: <a href="/index">Home</a>
      <a href="/add_patient">Add Patient</a>
      <a href="/create_surgery">Create Surgery</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>